<section class="explanation">
     <p id="notice"><%= notice %></p>
    <h1>Slowgram</h1>
    <p>
        Slowgramでお友達と写真を共有しましょう！
    </p>
<section class="main-header">
<!--  <p class="flash"><%= notice %><%= alert %></p> -->
  <img src="<%= asset_path "foto.png" %>">
</section>
